---
layout: archive
title: "Musings"
permalink: /musings/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% assign valid_posts = site.musings | where_exp: "post", "post.date < site.time" %}

{% if valid_posts.size > 0 %}
  {% for post in valid_posts reversed %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% else %}
  <p style="text-align: center; font-style: italic; color: #999; padding: 40px 0;">Nothing to see here... yet</p>
{% endif %}
